body{
    font-family: 'Roboto', sans-serif;
}

article{
    display: inline-block;
    width: 48% ;
}

main{
    background-color: #f4f4f4;
    margin-top: 156px;
    margin-left: 376px;
}

header{
    height: 156px;
    width: 1064px;
    padding-top: 0;
    padding-left: 376px;
}

footer{
    height: 99px;
    width: 1063px;

    border-top: 2px solid;
    margin-right: 376px;
}

aside{
    height: 1024px;
    width: 376px;

    border-right: 2px solid;
    position: fixed;
    top: 0px;
    left: 0px;
}

h1{
    color: red
}