article{
    display: inline-block;

    width: 49% ;
    margin-top: 80px;

    font-size: 28px;
}

main{
    width:75%;
    margin-top: 156px;
    margin-left: 25%;

    font-family: 'Poppins', sans-serif;
    
}

header{
    position: fixed;

    height: 18%;
    width: 75%;
    padding-top: 0;
    padding-left: 25%;
    top:0;

    background-color: white;

    font-family: 'Raleway', sans-serif;
    
    z-index: +1;
}

footer{
    height: 20%;
    width: 75%;
    margin-left: 25%;

    border-top: 2px solid;

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

aside{
    position: fixed;

    height: 1024px;
    width: 25%;
    top: 0px;
    left: 0px;

    background-color: white;
    border-right: 2px solid;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;

    z-index: +1;
}

h1{
    width: 50%;
    padding-left: 15px;
    padding-top:10px;

    font-size: 64px;
    font-weight: bold;
}

h2{
    margin-left: 17px;

    border-bottom: 4px solid #AACE9B;

    font-size: 48px;
}

h3{
    font-size: 30px;
}

h4{
    margin-left: 45px;
    margin-right: 50px;

    border-bottom: 4px solid #AACE9B;

    font-size: 24px;
}

form{
    display: inline-block;
}


fieldset{
    display: inline-block;

    width: 903px;
    height: 516px;
    padding-left:95px;
    padding-top: 72px;
}

label{
    display: block;

    font-size: 14px;
}

textarea{
    width: 714px;
    height: 111px;

    resize: none;
}

input[type="text"]
{
    font-size:18px;
}

#firstImage{
    display: inline;

    height: 573px;
    width: 469px; 
    padding-top: 20px;

    float: right;
}

#crest1{
    padding-left: 20px;
    padding-right: 50%;
    padding-top: 41px;

    font-style: italic;
    font-size: 28px;
}

#introduction{
    padding-right: 50%;
    padding-top: 76px;

    font-size: 24px;
    color: #545454;
}

#learnMore{
    width: 144px;
    height: 51px;
    margin-top: 80px;

    background-color: #AACE9B;
    border-radius: 4px;

    color:#373867;
}

#leftBarList{
    margin-right: 60px;
    margin-left: 10px;
    padding-bottom: 73px;

    border-bottom: 1px solid #A4A4A4;

    list-style-type: none;
    line-height: 51px;
}

#leftBarParagraph{
    padding-left: 44px;
    padding-right: 52px;

    font-size: 18px;
}

#email{
    width: 34px;
    height: 25px;

    float: left;
}
#adress{
    width: 34px;
    height: 37px;

    float: left;
}
#telNumber{
    width: 40px;
    height: 47px;

    float: left;
}

#copyright{
    font-size: 12px;
}

.iconMenu{
    display: inline;

    margin-top: 40px;
    padding-left: 33px;

    color: #AACE9B;
    font-size: 44px;
}

.headerTitle{
    margin-left: 122px;
    margin-bottom: 44px;
    border-bottom: 4px solid #AACE9B;
}

.firstSection{
    display: inline;
}

.imgBox1{
    display: inline;

    width: 208px;
    height: 237px;
    padding-top: 10px;

    float: left;
}

.titleBox1{
    font-weight: bolder;

}

.listBox2{
    padding-left: 30px;

    font-size: 28px;

    line-height: 82px;
    list-style-type: '✓';
    list-style-position: outside;
}

.itemBox2{
    padding-left: 29px;
}

.formContainer{
    display: inline-block;

    width: 43%;
}

.formText{
    width: 317px;
    height: 43px;
}

.radioLabel{
    display: inline;
}

.formButton{
    width: 158px;
    height: 36px;
    margin-left: 556px;

    background-color: #AACE9B;

    font-size:18px;
}

.sectionHistory{
    width: 895px;
    height: 604px; 

    background-color: #D9E0D6;
    border-radius: 50%;
    border: 2px solid white;
}

.historyImage{
    position:absolute;

    padding-left: 448px;
    padding-top: 167px;
}

.historyTitle{
    width: 30%;
    padding-left: 180px;
    padding-top: 164px; 
    padding-right: 10px;

    border-right: 4px solid white;

    color: #756464;
    text-align: right;
}

.foundation{
    padding-left: 146px;
    padding-right: 449px;
    padding-top: 29px;

    font-size: 10px;
}

.containerHistory{
    display: inline-block;

    padding-top: 50px;
}

.containerDataSecurity{
    width: 78px;
    height: 78px;
    margin-left: 256px;

    border:2px solid white;
    border-radius: 100%;

    font-size: 6px;
    text-align: center;
    font-style: normal white;
    color: white;
}

.imgHistory{
    padding-top: 19px;
}

.containerEffectiveInTime{
    width: 78px;
    height: 78px;
    margin-left: 28px;

    border:2px solid white;
    border-radius: 100%;

    font-size: 6px;
    text-align: center;
    color: white;
}

.objective{
    width: 208px;
    padding-left: 46px;

    border-left: 4px solid white;

    font-size: 10px;
}

.navBar{
    display: inline-block;

    width: 30%;
    margin-left: 8px;

    font-size: 18px;
}

.navBarTitle{
    width: 268px;
    border-bottom: 4px solid #AACE9B;

    font-size: 24px;
    font-weight: bold;
}

.navBarList{
    line-height: 42px;
}

.leftBarInput{
    height: 40px;
    width: 257px; 
    margin-left: 40px;
    margin-top: 30px;
}

.leftBarItem{
    border-bottom: 1px solid #A4A4A4
}

.containerAside{
    padding-top: 30px;
}

.containerContact{
    margin-left: 50px;
    margin-top: 10px;
    padding-bottom: 20px;

    border-bottom:2px solid #AACE9B;

}

.contactImg{
    padding-right: 10px;
}

.contactInfo{
    padding-left: 12px;
}

.socialMedia{
    height: 25px;
}