header{
    position:fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 18%;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

.icon-menu{
    color: #AACE9B;
    font-size: 59px;
}

.header-title{
    align-self: center;
    border-bottom: 4px solid #AACE9B;
    font-size: 40px;
    font-weight: bolder;
}

@media screen and (min-width: 900px) {
    .header-title{
        width: 100%;
        font-size: 30px;
    }

    .icon-menu{
        font-size: 44px;
    }
}