body{
    line-height: normal;
}

article{
    display: inline-block;

    width: 49% ;
    margin-top: 80px;

    font-size: 28px;
}

main{
    width:75%;
    margin-top: 156px;
    margin-left: 25%;

    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;

    height: 18%;
    width: 75%;
    padding-top: 0;
    padding-left: 25%;
    top:0;

    background-color: white;

    font-family: 'Raleway', sans-serif;

    z-index: +1;
}

footer{
    height: 14%;
    width: 75%;
    margin-left: 25%;

    border-top: 2px solid;

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

aside{
    position: fixed;

    height: 1024px;
    width: 25%;
    top: 0px;
    left: 0px;

    background-color: white;
    border-right: 2px solid;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;

    z-index: +1;
}

h1{
    width: 50%;
    padding-left: 15px;
    padding-top:10px;

    font-size: 64px;
    font-weight: bold;
}

form{
    display: inline-block;
}


fieldset{
    display: inline-block;

    width: 903px;
    height: 516px;
    padding-left:138px;
    padding-top: 100px;

    
}

label{
    display: block;

    font-size: 14px;
}

textarea{
    width: 714px;
    height: 111px;

    resize: none;
}

input[type="text"]
{
    font-size:18px;
}

#first-image{
    display: inline;

    height: 573px;
    width: 469px; 
    padding-top: 20px;

    float: right;
}

#crest{
    padding-left: 20px;
    padding-right: 50%;
    padding-top: 41px;

    font-style: italic;
    font-size: 28px;
}

#introduction{
    padding-right: 50%;
    padding-top: 76px;
    margin-left: 11px;
    width: 557px;
    height: 114px;

    font-size: 24px;
    color: #545454;
}

#learn-more{
    width: 144px;
    height: 51px;
    margin-top: 80px;
    margin-left: 10px;

    background-color: #AACE9B;
    border-radius: 4px;

    color:#373867;
}

#left-bar-list{
    padding-top: 20px;
    margin-right: 60px;
    margin-left: 46px;
    padding-bottom: 73px;

    border-bottom: 1px solid #A4A4A4;

    list-style-type: none;
    line-height: 51px;
}

#left-bar-paragraph{
    padding-left: 44px;
    padding-right: 52px;
    padding-top: 20px;
    height: 147px;
    width: 280px;

    font-size: 18px;
}

#img-email{
    width: 34px;
    height: 25px;

    float: left;
}
#img-adress{
    width: 34px;
    height: 37px;

    float: left;
}

#container-telephone{
    border:none;
}

#img-tel-number{
    width: 40px;
    height: 47px;

    float: left;
}

#copyright{
    font-size: 12px;
}

.icon-menu{
    display: inline;

    margin-top: 40px;
    padding-left: 33px;

    color: #AACE9B;
    font-size: 44px;
}

.header-title{
    margin-left: 122px;
    padding-bottom: 44px;

    border-bottom: 4px solid #AACE9B;

    font-size: 30px;
    font-weight: bolder;

}

.first-section{
    display: inline;
}

.title-section{
    margin-left: 17px;
    border-bottom: 4px solid #AACE9B;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 48px;
    font-weight: bolder;
}

.img-box-1{
    display: inline;

    width: 208px;
    height: 237px;
    padding-top: 10px;

    float: left;
}

.title-box-1{
    font-weight: bolder;

}

.list-box-2{
    padding-left: 30px;

    font-size: 28px;

    line-height: 82px;
    list-style-type: '✓';
    list-style-position: outside;
}

.item-box-2{
    padding-left: 29px;
}

.form-container{
    display: inline-block;

    width: 43%;
}

.form-text{
    width: 317px;
    height: 43px;
}

.radio-label{
    display: inline;
}

.form-button{
    width: 158px;
    height: 36px;
    margin-left: 556px;

    background-color: #AACE9B;

    font-size:18px;
}

.section-history{
    width: 895px;
    height: 604px; 

    background-color: #D9E0D6;
    border-radius: 50%;
    border: 2px solid white;
}

.history-image{
    position:absolute;

    padding-left: 448px;
    padding-top: 150px;
}

.history-title{
    width: 30%;
    padding-left: 180px;
    padding-top: 164px; 
    padding-right: 10px;

    border-right: 4px solid white;

    font-size: 30px;
    color: #756464;
    text-align: right;
}

.foundation{
    padding-left: 146px;
    padding-right: 449px;
    padding-top: 29px;

    font-size: 10px;
}

.container-history{
    display: inline-block;

    padding-top: 50px;
}

.container-data-security{
    width: 78px;
    height: 78px;
    margin-left: 256px;

    border:2px solid white;
    border-radius: 100%;

    font-size: 6px;
    text-align: center;
    font-style: normal white;
    color: white;
}

.img-history{
    padding-top: 19px;
}

.container-effective-in-time{
    width: 78px;
    height: 78px;
    margin-left: 28px;

    border:2px solid white;
    border-radius: 100%;

    font-size: 6px;
    text-align: center;
    color: white;
}

.objective{
    width: 208px;
    padding-left: 46px;

    border-left: 4px solid white;

    font-size: 10px;
}

.nav-bar{
    display: inline-block;

    width: 30%;
    margin-left: 8px;
    margin-top: 40px;

    font-size: 18px;
}

.nav-bar-title{
    width: 268px;
    border-bottom: 4px solid #AACE9B;

    font-size: 24px;
    font-weight: bold;
}

.nav-bar-list{
    padding-top: 20px;
    padding-bottom: 30px;

    line-height: 60px;

    list-style-type:decimal;
}

.nav-bar-list-item{
    margin-left: 50px;
}

.icon-search{
    position: absolute;
    padding-left: 48px;
    padding-top: 40px;
}

.left-bar-input{
    height: 40px;
    width: 252px; 
    margin-left: 40px;
    margin-top: 30px;
}

.left-bar-input[type = text]{
    padding-left: 36px;
}

.left-bar-title{
    margin-left: 45px;
    margin-right: 50px;
    margin-top: 40px;
    padding-bottom: 12px;

    border-bottom: 4px solid #AACE9B;

    font-size: 24px;
    font-weight: bolder;
}

.left-bar-item{
    border-bottom: 1px solid #A4A4A4
}

.container-aside{
    padding-top: 30px;
}

.container-contact{
    margin-left: 50px;
    margin-top: 10px;
    padding-bottom: 20px;

    border-bottom:2px solid #AACE9B;

}

.contact-img{
    padding-right: 10px;
}

.contact-info{
    padding-left: 12px;
}

.container-footer{
    padding-top: 7px;

    line-height: 34px;
}

.social-media{
    height: 30px;
    padding-top: 2px;
}
